:root {
  --glow-color: rgb(255, 81, 0);
  --glow-color2:#e98707;
}

*{
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #131313;
}

.image{
  all: unset;
  width: 300px;
  height: 300px;
}
.container{
  position: relative;
}

.container .card{
  position: relative;
  width: 320px;
  height: 500px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
}

.container .card:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--glow-color2);
  clip-path: circle(150px at 80% 20%);
  /* clip-path: circle(150px at 80% 20%); */
  transition: 0.5s ease-in-out;
}

.container .card:hover:before{
  clip-path: circle(300px at 80% -20%);
}

.container .card:after{
  content: 'Breed';
  position: absolute;
  top: 50%;
  left: 5%;
  font-size: 6em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255,255,25,0.05)
}

.container .card .img{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 100px;
  transition: 0.5s;
}

.container .card:hover .img{
  top: 0%;
  transform: translateY(0%);
    
}

.container .card .img img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) ;
  width: 270px;
}

.container .card .content{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.container .card:hover .content{
  height: 280px;
}

.container .card .content .a {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
  margin: 0;
}


.container .card .content .size, .container .card .content .temperaments {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.container .card:hover .content .size{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.container .card:hover .content .temperaments{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.container .card .content .size h3, .container .card .content .temperaments h3{
  color: rgb(255, 255, 255);
  font-weight: 300;
  font-size: 14px;
  /* text-transform: uppercase; */
  letter-spacing: 2px;
  margin-right: 10px;
}


.container .card .content a { 
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
}

.container .card:hover .content a{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
  
}
