


.container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;


  /* border: solid red 1px; */
}

.container .card{
  /* border: solid rgb(255, 38, 0) 1px; */
  width: 800px;
  height: 500px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
  /* grid-gap: 10px; */
}

.header {

  display: flex;
  justify-content: center;
  align-items: center;

  height: 80px;
  /* border: solid rgb(0, 26, 255) 1px; */
  /* grid-column: 1 / -1; */
  /* needed for the floated layout */
  clear: both;
  z-index: 10;
  margin: auto;
  margin-top: 10px;
}
.footer {

  display: flex;
  justify-content: center;
  align-items: center;

  height: 80px;
  /* border: solid rgb(0, 26, 255) 1px; */
  /* grid-column: 1 / -1; */
  /* needed for the floated layout */
  clear: both;
  z-index: 10;
 margin-bottom: 20px;

}
.sidebar {
  float: left;
  width: 19.1489%;
  z-index: 10;
}
.sidebar .image {
  transform: translateX(7%);
  z-index: 10000;
  transition: 0.5s;
  clip-path: circle(150px at 50% 50%);
}
.sidebar .image:hover {
  /* transform: scale(120%); */
  clip-path: circle(150px at 50% 50%);
}
.content {
  flex: 1;
  /* border: solid rgb(0, 26, 255) 1px; */
  width: 90%;
  /* float: right;
  width: 79.7872%; */
  z-index: 10;

}


.container .card:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #e98707;
  border-radius: 20px;
  clip-path: circle(300px at 10% 50%);
  /* clip-path: circle(150px at 50% 0%); */
  transition: 0.5s ease-in-out;
}

.container .card:hover:before{
  clip-path: circle(300px at 70% 50%);
}

.container .card:after{
  content: 'About';
  position: absolute;
  top: 80%;
  right: 7%;
  font-size: 6em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255,255,25,0.05)
}
.container:hover .card:after{
  content: 'About';
  position: absolute;
  top: 2%;
  right: 7%;
  font-size: 6em;
  font-weight: 800;
  font-style: italic;
  color: rgba(54, 54, 54, 0.322);
  transition: 0.75s;
}

.container .card .header h2 {
  /* border: 1px solid rgb(30, 5, 255); */
  font-weight: 600;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  
}

/* letras texto */
.container .card .content .size , .container .card .content .temperaments p{
  margin: auto;
  width: 600px;
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 0.1px #000000;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 2px;
  margin-top: 30px;

}
.container .card:hover .content .size h3,.container .card:hover .content .temperaments h3{
  color: rgb(0, 0, 0);
  transition: 0.75s;
}

/* cuadro home - id */
.container .card .footer a, .container .card .content .id a { 
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
}

.container .card:hover .content .id a{
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  transition: 0.75s;
}

.img{
  position: relative;
  width: 50px;
  height: 50px;
  margin: auto;
  margin-left: 40px;
  margin-right: 40px;
  box-shadow: 0 0 10px #fff;
}
.img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%; /* Radio del borde del resplandor */
  filter: blur(30px); /* Desenfoque del resplandor */
  opacity: 0.5; /* Opacidad del resplandor */
  z-index: -1;
  box-shadow: 0 0 50px 10px white; /* Color y tamaño del resplandor */
}
.logosLinks{
  position: relative;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
